<h1>Bienvenido a Superhéroes</h1>
<p>Descubre, crea y gestiona superhéroes increíbles.</p>

<a href="/dashboard" class="btn">Ir al Dashboard</a>
<a href="/addSuperhero" class="btn">Agregar un Superhéroe</a>
